body{
    background-color: #CCCCCC;
}

.page {
    width: 780px;
    margin: auto;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #FFFFFF;
}

.infoCV {
    height: 150px;
}

.poste {
    float: left;
    font-size: 35px;
    float: 
}

.url {
    float: right;
}

.Apropos {
    height: 130px;
    margin-bottom: 70px;
    text-align: justify;
    color: black;
}

.section {
    margin-bottom: 70px;
    text-align: justify;
}

.sec-gauche {
    float: left;
    font-weight: bold;
    font-size: 16px;
}

.sec-milieu {
    margin-left: 150px;
    margin-top: 35px;
}

h2{
    font-size: 28px;
    color: #3388BB;
    text-transform: uppercase;
    border-bottom: 3px solid #3388DD;
}

.duree {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}

.titre {
    font-weight: bold;
    font-size: 26px;
}

.sous-titre {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    
}

#exp-gauche p {
    margin-bottom: 40px;
}

#forma-gauche {
    margin-top: 150px;
}

.section:hover{
    color: #C4C4C4;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3388BB;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.button:hover {
    background-color: #4079A4;
    }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }